body{
	margin: 0;
}
.topnavbar{
	background-color: #000;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
}

.topnavbar a{
	font-size: 17px;
	float: left;
	text-align: center;
	padding: 14px 18px;
	color: #f2f2f2;
	text-decoration: none;

}

.topnavbar a.active{
	background-color: #800080;
	color: white;
}

.topnavbar a img{
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}


.topnavbar a:hover{
	background-color: #ddd;
	color: black;
}
.gendetails1{
	
	margin-top: 30px;
	background-color: tomato;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 10px 10px;
}
.gendetails1 h1{
	margin-left: 25px;
	color: White;
	font-size: 60px;
	font-family: 'Actor';

}
.gendetails1 p{
	float: right;
	margin-right: 200px;
	text-align: center;
	font-size: 25px;
	font-family: cursive; 
}

.gendetails2{
	
	margin-top: 30px;
	background-color: tomato;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 10px 10px;
}


.gendetails3{
	
	margin-top: 30px;
	background-color: tomato;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 60px;
}

.gendetails3 p{
	float: right;
	margin-right: 250px;
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
	font-family: cursive; 
}

.footer{
	background-color: #000;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer a{
	float: left;
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	margin-left: 20px;
	font-size: 17px;
	margin-top: 5px;

}

.footer p{
	float: right;
	color: white;
	margin-right: 20px;
}

.footer a:hover{
	background-color: #ddd;
	color: black;
}



